.isDisabled {
  cursor: not-allowed !important;
}
// 文字超过长度显示……
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.w50 {
  width: 50%;
}
.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}
.mt-10 {
  margin-top: 10px;
}
.mt-80 {
  margin-top: 80px;
}
.center {
  text-align: center;
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex-between-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.flex-left-wrap {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.flex-center-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-between-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex-left {
  display: flex;
  justify-content: left;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.sticky {
  position: sticky;
  top: 0;
}
